<div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/DB_analyse.jpg');">
    <div class="container">
    <div class="carousel-caption text-left">
        <h2>DB照会</h2>
    </div>
    </div>
</div>
    
<div class="main">
<div class="section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mr-auto ml-auto">
                <h3 class="title">登録されているDB内容を照会</h3>
                <h5 class="description">当アプリケーションと接続をしているDataBaseの内容を確認します。</h5>
                <h5 class="description">ブロックチェーンネットワークにより企業間データ転送した結果を確認することが可能です。</h5>
                <!-- <br>
                <a href="#paper-kit" class="btn btn-danger btn-round">See Details</a> -->
            </div>
        </div>
    </div>
</div>
        
    
<div class="container marketing">
<h2>在庫連携データ</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Material</th>
                <th>Description</th>
                <th>Unit price</th>
                <th>Quantity</th>
                <th>Lot</th>
                <th>Carbon</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td>{{ product.material}}</td>
                <td>{{ product.description}}</td>
                <td>{{ product.unit_price}}</td>
                <td>{{ product.quantity}}</td>
                <td>{{ product.lot}}</td>
                <td>{{ product.carbon}}</td>
            </tr>
        </tbody>
    </table>
</div>
          
<!-- FOOTER -->
<footer class="container">
    <p class="float-right"><a href="#">Back to top</a></p>
    <p>&copy; 2023 xxxx, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
</footer>