<div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/DB_analyse.jpg');">
  <div class="container">
    <div class="carousel-caption text-left">
      <h2>DB照会</h2>
    </div>
  </div>
</div>

<div class="main">
  <div class="section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mr-auto ml-auto">
                <h3 class="title">登録されているDB内容を照会</h3>
                <h5 class="description">当アプリケーションと接続をしているDataBaseの内容を確認します。</h5>
                <h5 class="description">ブロックチェーンネットワークにより企業間データ転送した結果を確認することが可能です。</h5>
            </div>
        </div>
        <br/><br/>
        <div class="row">
            <div class="col-md-4">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-album-2"></i>
                    </div>
                    <div class="description">
                        <h5 class="info-title">{{'在庫連携データ'}}</h5>
                        <a routerLink = "product-data">Link</a>                          
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-bulb-63"></i>
                    </div>
                    <div class="description">
                        <h5 class="info-title">{{'請求データ'}}</h5>
                        <a routerLink = "billing-data">Link</a>    
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-chart-bar-32"></i>
                    </div>
                    <div class="description">
                        <h5 class="info-title">{{'債務データ'}}</h5>
                        <a routerLink = "debt-data">Link</a>  
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>

  <!-- FOOTER -->
  <footer class="container">
    <p class="float-right"><a href="#">Back to top</a></p>
    <p>&copy; 2023 xxxx, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>
</div>